extends ../layouts/tenerife

block content
    .container: .jumbotron
        p You can book our wonderful apartment through either of these great sites:
        
        p Airbnb 
            a(href='http://www.airbnb.co.uk/rooms/2833471').btn.btn-lg.btn-primary Book with AirBnB
        
        p Holiday Lettings 
            a(href='http://www.holidaylettings.co.uk/content/rentals/adeje/1718842').btn.btn-lg.btn-primary Book with Holiday Lettings
        
        .col-md-8